<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="ListenerPort" value="24045" />
    <add key="GatewayAddress" value="127.0.0.1" />
    <add key="GatewayPort" value="24042" />
    <add key="MonitorDirectory" value="c:\motnext\io" />
    <add key="WatchFileSystem" value="true" />
    <add key="WatchSocket" value="true" />
    <add key="SslListenerPort" value="24046" />
  </appSettings>
</configuration>
