<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="InterfaceDir">
            <Component Id="cmp7D279B493B75C3F3890B4005DBC40A23" Guid="1C5D429E-1523-4300-8431-9F250F1C4A7F">
                <File Id="fil28AA775521039FF62FE7B4BDEE132B45" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Mot.Common.Interface.Lib.dll" />
            </Component>
            <Component Id="cmpD0BF261BC7BF5758BA5AE41444768D55" Guid="BED4AF48-F136-49BE-A9C4-DB2D560FC80D">
                <File Id="fil66CC0E198D9160E4FC3336C0DA970F94" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Mot.HL7.Interface.Lib.dll" />
            </Component>
            <Component Id="cmp7325E98F2D5412DA6699223DA36195FC" Guid="F65AEDE1-3936-4523-9D4F-95D2CB6D15BC">
                <File Id="fil157507B1E942F3303FC95B7AC6EB434F" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Mot.Inbound.Interface.Service.exe" />
            </Component>
            <Component Id="cmp91D2EE8DBC324BF548F30F789BD43B32" Guid="C7285D72-B3BA-4B01-A8A0-7390DA3943E1">
                <File Id="filA3B3C4CE40ADB81749C399143F917B6A" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Mot.Inbound.Interface.Service.exe.config" />
            </Component>
            <Component Id="cmp827400BAF819087F2904B60CDF7CAE1B" Guid="4D3CE060-5CC4-4D2D-9BA6-1F25E76B22CC">
                <File Id="fil73C269A8D6BF11809713566E8E4B8D47" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Mot.Listener.Interface.Lib.dll" />
            </Component>
            <Component Id="cmpF75CE9EFAEFAE0B6F3F3AFAA10CECA0B" Guid="0A9BF1C7-A815-452F-AD92-C20F323624E6">
                <File Id="fil53CF6FA6BFD6B69860228F04155D57D0" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Mot.Parser.Interface.Lib.dll" />
            </Component>
            <Component Id="cmp0FE5C6198D7F4FE22DE75B4536C5BADF" Guid="D7D65229-13A5-4107-A508-0E61BACA749F">
                <File Id="fil798B21BBCE7499A0C17D2D1D24B2AAFE" KeyPath="yes" Source="$(var.InterfaceFilesPath)\MotCommonLib.dll" />
            </Component>
            <Component Id="cmp35FC759C06CCD5052F6DA9479DF1E3A6" Guid="32643C31-6BBA-4E70-B7C6-DFEF073B0A6D">
                <File Id="fil1714B7C0DFA8F99BCAF4C8D2E54B2853" KeyPath="yes" Source="$(var.InterfaceFilesPath)\MotHL7Lib.dll" />
            </Component>
            <Component Id="cmp2F974625FE5545F51E36F48CD8A6E832" Guid="3C2F18A5-EA3A-4980-B95B-7732CA8D7366">
                <File Id="fil714185DAB268C4283B54164D988E8668" KeyPath="yes" Source="$(var.InterfaceFilesPath)\MotListenerLib.dll" />
            </Component>
            <Component Id="cmp3423DAFF298E05B88DD1040DFFB780A9" Guid="D588325B-FE71-4103-AAA6-072ED814593D">
                <File Id="filF361361AD9B4E29A54A16E2FE0E37E42" KeyPath="yes" Source="$(var.InterfaceFilesPath)\MotParserLib.dll" />
            </Component>
            <Component Id="cmpED6A2423324849F727181A14EF998153" Guid="4D21D372-A5B1-46A0-998B-11A861A308F6">
                <File Id="fil444065B4F87F4017DE577A2A05C91BB8" KeyPath="yes" Source="$(var.InterfaceFilesPath)\NLog.config" />
            </Component>
            <Component Id="cmp25CC63A9BAD7ED0C825A1CF2D26D9A8A" Guid="AAEBEA34-D2BB-4F45-B6D8-674C83D916DB">
                <File Id="fil3EF8B40851A1B637E0EFEC5ED41CFEF9" KeyPath="yes" Source="$(var.InterfaceFilesPath)\NLog.dll" />
            </Component>
            <Component Id="cmpB915C19C74FB8E861C93783B3BB74427" Guid="A2F65058-D87F-44B2-A101-3F0A3E6E209E">
                <File Id="fil956AA794C863E72CF04B2BA5E0467BE3" KeyPath="yes" Source="$(var.InterfaceFilesPath)\NLog.xml" />
            </Component>
            <Component Id="cmp134C16AC6F2B38B6E9E619FEA0088BAB" Guid="336E5FE9-3B73-4E71-BD7C-FC91387B5EBC">
                <File Id="fil35D3BB92BC0CCF16204FE29683950365" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmpD4AB4D21B8D9C1905F4DD19193383EC8" Guid="594110A3-8AD9-42C7-A893-83BD7F90CEA3">
                <File Id="filDF8C3E432F9C6E7A240CD89AE00292A4" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp1E66471322D191198C49677A02E4FB66" Guid="31EBC7CE-5654-4C0E-9618-D517CCC0BBA9">
                <File Id="fil08F3BDF11D8F5BF5ED34218E3DC5E625" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp6233711F3DBA8FF95D32889675C3B7D0" Guid="C6D58D53-8C9A-4D02-B655-5450D88DD23F">
                <File Id="fil8D66AC45E8F96094F1EBA51B669822D7" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmpDFEA94578898DD58433F015AEA058441" Guid="8AAB016E-4415-461F-8215-68059275F9AA">
                <File Id="fil1A95A923BDD66C6B04874790ABA7A226" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmp3FB7ACB3B9296BACFD1C383C5D1C308A" Guid="B449C7B4-E9F7-459B-A27E-EC93CF56905A">
                <File Id="fil33CC4015B3276673E3EF08AD74DF13FB" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmp084FF4FA4930F15E53E93090E0C94583" Guid="643C1789-B3E7-4385-97AB-C73A41008EE5">
                <File Id="filAB85239C53B1BBBC607DBED116FF2173" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmpD2B6C4EC40329D9EE2936CC254B3B4C9" Guid="30A56B16-36F8-4864-9341-2D061589BFE5">
                <File Id="fil84B24D38AE1373C7A2ED2E0B21C992D8" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmp9E50648E8A91C3071A37089B4574AF22" Guid="911C95EC-A169-43CE-99C1-BCE4D9019DDD">
                <File Id="filCF799D8CFCDC46EB5A9DEB544F78E714" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmp1437F3CD12B055EDBF9CFAF7F6A86D08" Guid="2152E722-B5CD-4E42-86A1-94E4F95A975A">
                <File Id="fil7F678DD86BA9616FEC96F1D8D7DA6226" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmp7DD346E3825FD042EBB7C06EA9611887" Guid="A90CFFBA-1069-43F3-B47F-900E001F565B">
                <File Id="filF12883ACF5E1035D7E9AA8C487118B67" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp50DC0B43AB8933397531C7504772F96C" Guid="B5B82D43-DF82-46DE-A502-895323DBF526">
                <File Id="fil388BCDC6F09C9163B9185C1AB3979820" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmp09ED720978F4C2A724372AA071A29778" Guid="4B5E4A68-D231-40ED-8DCC-1C54BE900C48">
                <File Id="filF6A26FF8DF9E77ABBFC806FFCEAF5623" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp00FE38AC555467FA0E6F48CC750702AA" Guid="7D57F88A-1E1E-49E8-B2C9-7EF50C766587">
                <File Id="fil327BB636AAD8C7DC27CE64A78EFA70E9" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmpE3EBBF78EAD5BC1AB3D1BCAA4661643F" Guid="F6D3BFD3-499B-427A-A70A-B7845F914A9D">
                <File Id="fil64A3C4CE87E11AF451829EBEF2D6A4B6" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmpF909D4F622F4657F7AD02956A961F375" Guid="BA27354F-4002-45D0-B788-71DD3D685CC8">
                <File Id="filA01BA989D773A7BAD3CCD3D3D56FF031" KeyPath="yes" Source="$(var.InterfaceFilesPath)\System.Xml.XPath.XDocument.dll" />
            </Component>
            <Component Id="cmpB3A834D60AC0A033D07F923E8D100A37" Guid="0E6C4D01-2460-4B69-8C9E-B0D0AA877D7D">
                <File Id="fil9F67711B83E92263508EAB3379661843" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Topshelf.dll" />
            </Component>
            <Component Id="cmpAD23F837CB35D28352D816D2F018FB7A" Guid="384370DA-AF58-4094-859E-4C04985CAE9C">
                <File Id="fil94F815581FA1C5E5D1AF60C7C622B3B6" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Topshelf.NLog.dll" />
            </Component>
            <Component Id="cmp4EA57C1D2BA8342A7697654C2492954A" Guid="BB0BEEEC-6D97-48AA-A0DA-2066BCFCC36B">
                <File Id="filEE07D207A13D51B576BFEEB14880BE54" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Topshelf.NLog.xml" />
            </Component>
            <Component Id="cmp11D9401D6AA7A5424E903AB433A89629" Guid="60BD14D3-7232-436C-9ED0-212DD12C7F4E">
                <File Id="fil3122861291A66B0F9194AC5BA1E6EA1D" KeyPath="yes" Source="$(var.InterfaceFilesPath)\Topshelf.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="InterfaceFilesGroup">
            <ComponentRef Id="cmp7D279B493B75C3F3890B4005DBC40A23" />
            <ComponentRef Id="cmpD0BF261BC7BF5758BA5AE41444768D55" />
            <ComponentRef Id="cmp7325E98F2D5412DA6699223DA36195FC" />
            <ComponentRef Id="cmp91D2EE8DBC324BF548F30F789BD43B32" />
            <ComponentRef Id="cmp827400BAF819087F2904B60CDF7CAE1B" />
            <ComponentRef Id="cmpF75CE9EFAEFAE0B6F3F3AFAA10CECA0B" />
            <ComponentRef Id="cmp0FE5C6198D7F4FE22DE75B4536C5BADF" />
            <ComponentRef Id="cmp35FC759C06CCD5052F6DA9479DF1E3A6" />
            <ComponentRef Id="cmp2F974625FE5545F51E36F48CD8A6E832" />
            <ComponentRef Id="cmp3423DAFF298E05B88DD1040DFFB780A9" />
            <ComponentRef Id="cmpED6A2423324849F727181A14EF998153" />
            <ComponentRef Id="cmp25CC63A9BAD7ED0C825A1CF2D26D9A8A" />
            <ComponentRef Id="cmpB915C19C74FB8E861C93783B3BB74427" />
            <ComponentRef Id="cmp134C16AC6F2B38B6E9E619FEA0088BAB" />
            <ComponentRef Id="cmpD4AB4D21B8D9C1905F4DD19193383EC8" />
            <ComponentRef Id="cmp1E66471322D191198C49677A02E4FB66" />
            <ComponentRef Id="cmp6233711F3DBA8FF95D32889675C3B7D0" />
            <ComponentRef Id="cmpDFEA94578898DD58433F015AEA058441" />
            <ComponentRef Id="cmp3FB7ACB3B9296BACFD1C383C5D1C308A" />
            <ComponentRef Id="cmp084FF4FA4930F15E53E93090E0C94583" />
            <ComponentRef Id="cmpD2B6C4EC40329D9EE2936CC254B3B4C9" />
            <ComponentRef Id="cmp9E50648E8A91C3071A37089B4574AF22" />
            <ComponentRef Id="cmp1437F3CD12B055EDBF9CFAF7F6A86D08" />
            <ComponentRef Id="cmp7DD346E3825FD042EBB7C06EA9611887" />
            <ComponentRef Id="cmp50DC0B43AB8933397531C7504772F96C" />
            <ComponentRef Id="cmp09ED720978F4C2A724372AA071A29778" />
            <ComponentRef Id="cmp00FE38AC555467FA0E6F48CC750702AA" />
            <ComponentRef Id="cmpE3EBBF78EAD5BC1AB3D1BCAA4661643F" />
            <ComponentRef Id="cmpF909D4F622F4657F7AD02956A961F375" />
            <ComponentRef Id="cmpB3A834D60AC0A033D07F923E8D100A37" />
            <ComponentRef Id="cmpAD23F837CB35D28352D816D2F018FB7A" />
            <ComponentRef Id="cmp4EA57C1D2BA8342A7697654C2492954A" />
            <ComponentRef Id="cmp11D9401D6AA7A5424E903AB433A89629" />
        </ComponentGroup>
    </Fragment>
</Wix>